In [101]:
import pyodbc
#Si no funciona colocar en el prompt de anaconda -> pip install pyodbc
#Importar las librerias
import pandas as pd
import mysql.connector
from mysql.connector import Error
#import pymysql

In [102]:
#Establecer conexion con MYSQL
try:
    conexion=mysql.connector.connect(user='root',password='system', host='localhost',
                                 database='bd_escuela',port='3306')
    
    if conexion.is_connected():
        print("Conexión exitosa")
        infoServer=conexion.get_server_info()
        print("Info del servidor: ",infoServer)
        
except Error as ex:
    print("Error durante la conexión",ex)
#
#    if conexion.is_connected():
#        conexion.close() #Se cerró la conexión a la BD
#        print("La conexión ha finalizado")

Conexión exitosa
Info del servidor:  8.0.30

In [103]:
df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)

print(df)

             apellidos    nombres  edad
0                 sasa      qqwwq    20
1       Romero9 Espejo     Steven    20
2        Romero Espejo      Maria    20
3       Marcos Sanchez    Jusephe    20
4      Romero Martinez     Jordan    20
5        Espejo Espejo      Juana    20
6   Martinez Villareal     Robert    20
7       Lancaster Ruiz      Maria    20
8        Ruiz Gregorio  Magdalena    20
9      Sanchez Sanchez       Juan    20
10     Rivas Maldonado       Yola    20
11      Rivas Castillo     Blanca    20
12      Romero2 Espejo     Rosaly    20
13      Romero3 Espejo    Fiorela    20
14      Romero4 Espejo    Josafat    20
15      Romero5 Espejo       Jhon    20
16      Romero6 Espejo       Flor    20
17      Romero7 Espejo        Liz    20
18      Romero8 Espejo   Gabriela    20
19         Modificado3     Steven    20
20         Modificado2      Maria    20
21                 aas         as     5
22       Romero Espejo      Maria    20
23      Marcos Sanchez    Jusephe    20
24     Romero Martinez     Jordan    20
25       Espejo Espejo      Juana    20
26  Martinez Villareal     Robert    20
27      Lancaster Ruiz      Maria    20
28       Ruiz Gregorio  Magdalena    20
29     Sanchez Sanchez       Juan    20
30     Rivas Maldonado       Yola    20
31      Rivas Castillo     Blanca    20
32      Romero2 Espejo     Rosaly    20
33      Romero3 Espejo    Fiorela    20
34      Romero4 Espejo    Josafat    20
35      Romero5 Espejo       Jhon    20
36      Romero6 Espejo       Flor    20
37      Romero7 Espejo        Liz    20
38      Romero8 Espejo   Gabriela    20
39      Romero9 Espejo     Steven    20

C:\Users\Tismart\AppData\Local\Temp\ipykernel_17996\1783614779.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)

In [104]:
df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO where edad between 18 and 24",conexion)

print(df)

             apellidos    nombres  edad
0                 sasa      qqwwq    20
1       Romero9 Espejo     Steven    20
2        Romero Espejo      Maria    20
3       Marcos Sanchez    Jusephe    20
4      Romero Martinez     Jordan    20
5        Espejo Espejo      Juana    20
6   Martinez Villareal     Robert    20
7       Lancaster Ruiz      Maria    20
8        Ruiz Gregorio  Magdalena    20
9      Sanchez Sanchez       Juan    20
10     Rivas Maldonado       Yola    20
11      Rivas Castillo     Blanca    20
12      Romero2 Espejo     Rosaly    20
13      Romero3 Espejo    Fiorela    20
14      Romero4 Espejo    Josafat    20
15      Romero5 Espejo       Jhon    20
16      Romero6 Espejo       Flor    20
17      Romero7 Espejo        Liz    20
18      Romero8 Espejo   Gabriela    20
19         Modificado3     Steven    20
20         Modificado2      Maria    20
21       Romero Espejo      Maria    20
22      Marcos Sanchez    Jusephe    20
23     Romero Martinez     Jordan    20
24       Espejo Espejo      Juana    20
25  Martinez Villareal     Robert    20
26      Lancaster Ruiz      Maria    20
27       Ruiz Gregorio  Magdalena    20
28     Sanchez Sanchez       Juan    20
29     Rivas Maldonado       Yola    20
30      Rivas Castillo     Blanca    20
31      Romero2 Espejo     Rosaly    20
32      Romero3 Espejo    Fiorela    20
33      Romero4 Espejo    Josafat    20
34      Romero5 Espejo       Jhon    20
35      Romero6 Espejo       Flor    20
36      Romero7 Espejo        Liz    20
37      Romero8 Espejo   Gabriela    20
38      Romero9 Espejo     Steven    20

C:\Users\Tismart\AppData\Local\Temp\ipykernel_17996\3481702644.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO where edad between 18 and 24",conexion)

In [105]:
df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)
#conexion.close()
print(df)

             apellidos    nombres  edad
0                 sasa      qqwwq    20
1       Romero9 Espejo     Steven    20
2        Romero Espejo      Maria    20
3       Marcos Sanchez    Jusephe    20
4      Romero Martinez     Jordan    20
5        Espejo Espejo      Juana    20
6   Martinez Villareal     Robert    20
7       Lancaster Ruiz      Maria    20
8        Ruiz Gregorio  Magdalena    20
9      Sanchez Sanchez       Juan    20
10     Rivas Maldonado       Yola    20
11      Rivas Castillo     Blanca    20
12      Romero2 Espejo     Rosaly    20
13      Romero3 Espejo    Fiorela    20
14      Romero4 Espejo    Josafat    20
15      Romero5 Espejo       Jhon    20
16      Romero6 Espejo       Flor    20
17      Romero7 Espejo        Liz    20
18      Romero8 Espejo   Gabriela    20
19         Modificado3     Steven    20
20         Modificado2      Maria    20
21                 aas         as     5
22       Romero Espejo      Maria    20
23      Marcos Sanchez    Jusephe    20
24     Romero Martinez     Jordan    20
25       Espejo Espejo      Juana    20
26  Martinez Villareal     Robert    20
27      Lancaster Ruiz      Maria    20
28       Ruiz Gregorio  Magdalena    20
29     Sanchez Sanchez       Juan    20
30     Rivas Maldonado       Yola    20
31      Rivas Castillo     Blanca    20
32      Romero2 Espejo     Rosaly    20
33      Romero3 Espejo    Fiorela    20
34      Romero4 Espejo    Josafat    20
35      Romero5 Espejo       Jhon    20
36      Romero6 Espejo       Flor    20
37      Romero7 Espejo        Liz    20
38      Romero8 Espejo   Gabriela    20
39      Romero9 Espejo     Steven    20

C:\Users\Tismart\AppData\Local\Temp\ipykernel_17996\419325942.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)

In [88]:
#Consultar datos
try:
    cursor=conexion.cursor()
    cursor.execute("select * from alumno")
    resultados=cursor.fetchall()
    for fila in resultados:
        print(fila[0],fila[1],fila[2],fila[3],fila[4],fila[5])
    print("Total de registros:" ,cursor.rowcount)
except Error as ex:
    print("Error durante la ejecución",ex)

1 sasa qqwwq 20 1.65 2023-04-26
2 Romero9 Espejo Steven 20 1.65 2023-04-26
3 Romero Espejo Maria 20 1.65 2023-04-26
4 Marcos Sanchez Jusephe 20 1.65 2023-04-26
5 Romero Martinez Jordan 20 1.65 2023-04-26
6 Espejo Espejo Juana 20 1.65 2023-04-26
7 Martinez Villareal Robert 20 1.65 2023-04-26
8 Lancaster Ruiz Maria 20 1.65 2023-04-26
9 Ruiz Gregorio Magdalena 20 1.65 2023-04-26
10 Sanchez Sanchez Juan 20 1.65 2023-04-26
11 Rivas Maldonado Yola 20 1.65 2023-04-26
12 Rivas Castillo Blanca 20 1.65 2023-04-26
13 Romero2 Espejo Rosaly 20 1.65 2023-04-26
14 Romero3 Espejo Fiorela 20 1.65 2023-04-26
15 Romero4 Espejo Josafat 20 1.65 2023-04-26
16 Romero5 Espejo Jhon 20 1.65 2023-04-26
17 Romero6 Espejo Flor 20 1.65 2023-04-26
18 Romero7 Espejo Liz 20 1.65 2023-04-26
19 Romero8 Espejo Gabriela 20 1.65 2023-04-26
20 Modificado3 Steven 20 1.96 2023-04-26
21 Modificado2 Maria 20 1.95 2023-04-26
24 aas as 5 1.0 2023-05-05
25 Romero Espejo Maria 20 1.65 2023-04-26
26 Marcos Sanchez Jusephe 20 1.65 2023-04-26
27 Romero Martinez Jordan 20 1.65 2023-04-26
28 Espejo Espejo Juana 20 1.65 2023-04-26
29 Martinez Villareal Robert 20 1.65 2023-04-26
30 Lancaster Ruiz Maria 20 1.65 2023-04-26
31 Ruiz Gregorio Magdalena 20 1.65 2023-04-26
32 Sanchez Sanchez Juan 20 1.65 2023-04-26
33 Rivas Maldonado Yola 20 1.65 2023-04-26
34 Rivas Castillo Blanca 20 1.65 2023-04-26
35 Romero2 Espejo Rosaly 20 1.65 2023-04-26
36 Romero3 Espejo Fiorela 20 1.65 2023-04-26
37 Romero4 Espejo Josafat 20 1.65 2023-04-26
38 Romero5 Espejo Jhon 20 1.65 2023-04-26
39 Romero6 Espejo Flor 20 1.65 2023-04-26
40 Romero7 Espejo Liz 20 1.65 2023-04-26
41 Romero8 Espejo Gabriela 20 1.65 2023-04-26
42 Romero9 Espejo Steven 20 1.65 2023-04-26
Total de registros: 40

In [89]:
#Consultar datos de varias tablas
try:
    cursor=conexion.cursor()
    cursor.execute("select cur.idCurso,cur.descripcion,cur.f_creacion,cur.idAlumno, concat(alum.apellidos,' ',alum.nombres) as 'Alumno' from curso cur,alumno alum where cur.idAlumno=alum.idAlumno")
    resultados=cursor.fetchall()
    for fila in resultados:
        print(fila[0],fila[1],fila[2],fila[3],fila[4])
    print("Total de registros:" ,cursor.rowcount)
except Error as ex:
    print("Error durante la ejecución",ex)

2 Ingles 2023-04-26 1 sasa qqwwq
6 Ingles 2023-04-26 1 sasa qqwwq
7 Ingles 2023-04-26 2 Romero9 Espejo Steven
8 Ingles 2023-04-26 3 Romero Espejo Maria
9 Ingles 2023-04-26 4 Marcos Sanchez Jusephe
10 Ingles 2023-04-26 5 Romero Martinez Jordan
11 Ingles 2023-04-26 6 Espejo Espejo Juana
12 Ingles 2023-04-26 7 Martinez Villareal Robert
13 Programacion 2023-04-26 8 Lancaster Ruiz Maria
14 Programacion 2023-04-26 9 Ruiz Gregorio Magdalena
15 Programacion 2023-04-26 10 Sanchez Sanchez Juan
16 Programacion 2023-04-26 11 Rivas Maldonado Yola
17 Programacion 2023-04-26 12 Rivas Castillo Blanca
18 Programacion 2023-04-26 13 Romero2 Espejo Rosaly
19 Programacion 2023-04-26 14 Romero3 Espejo Fiorela
20 Programacion 2023-04-26 15 Romero4 Espejo Josafat
21 Programacion 2023-04-26 16 Romero5 Espejo Jhon
22 Programacion 2023-04-26 17 Romero6 Espejo Flor
23 Programacion 2023-04-26 18 Romero7 Espejo Liz
Total de registros: 19

In [19]:
#Insertar datos
try:
    cursor.execute("insert into alumno(apellidos,nombres,edad,talla,f_creacion) values('Romero3 Espejo','Maria',20,1.65,now())")
    cursor.execute("insert into alumno(apellidos,nombres,edad,talla,f_creacion) values('Romero4 Espejo','Maria',20,1.65,now())")
    cursor.execute("insert into alumno(apellidos,nombres,edad,talla,f_creacion) values('Romero5 Espejo','Maria',20,1.65,now())")
    conexion.commit()
    print("Registro insertado con éxito")
except Error as ex:
    print("Error durante la ejecución",ex)

Registro insertado con éxito

In [22]:
#Insertar datos con parámetros
try:
    print("Registro de datos:")
    apellidos=input("Ingrese apellidos: ")
    nombres=input("Ingrese nombres: ")
    edad=input("Ingrese edad: ")
    talla=input("Ingrese talla: ")
    f_creacion=input("Ingrese f_creacion: ")

    sentencia="insert into alumno(apellidos,nombres,edad,talla,f_creacion) values('{0}','{1}','{2}','{3}','{4}')".format(apellidos,nombres,edad,talla,f_creacion)
    #Fecha en formato: yyyy-mm-dd
    cursor.execute(sentencia)
    conexion.commit()
    print("Registro insertado con éxito")
except Error as ex:
    print("Error durante la ejecución",ex)

Registro de datos:
Ingrese apellidos: aas
Ingrese nombres: as
Ingrese edad: 5
Ingrese talla: 1
Ingrese f_creacion: 2023-05-05
Registro insertado con éxito

In [24]:
#Modificar datos
try:
    print("Modificación de datos:")
    cursor.execute("update alumno set apellidos='Modificado1',talla=1.97 where idAlumno=22")
    cursor.execute("update alumno set apellidos='Modificado2',talla=1.95 where idAlumno=21")
    cursor.execute("update alumno set apellidos='Modificado3',talla=1.96 where idAlumno=20")
    conexion.commit()
    print("Modificado con éxito")
except Error as ex:
    print("Error durante la ejecución",ex)

Modificación de datos:
Modificado con éxito

In [25]:
#Modificar datos con parámetros
try:
    print("Modificación de datos:")

    apellidos=input("Ingrese apellidos: ")
    nombres=input("Ingrese nombres: ")
    f_creacion=input("Ingrese f_creacion: ")
    idAlumno=input("Ingrese idAlumno: ")

    sentencia="update alumno set apellidos='{0}',nombres='{1}',f_creacion='{2}' where idAlumno='{3}'".format(apellidos,nombres,f_creacion,idAlumno)
    #Fecha en formato: yyyy-mm-dd
    cursor.execute(sentencia)
    conexion.commit()
    print("Modificado con éxito")
    
except Error as ex:
    print("Error durante la ejecución",ex)

Modificación de datos:
Ingrese apellidos: sasa
Ingrese nombres: qqwwq
Ingrese f_creacion: 2023-04-26
Ingrese idAlumno: 1
Modificado con éxito

In [26]:
#Eliminación de datos
try:
    print("Eliminación de datos:")
    cursor.execute("delete from alumno where idAlumno=23")
    cursor.execute("delete from alumno where idAlumno=22")
    conexion.commit()
    print("Eliminado con éxito")
except Error as ex:
    print("Error durante la ejecución",ex)

Eliminación de datos:
Eliminado con éxito

In [27]:
#Eliminación de datos con parámetros
try:
    print("Eliminación de datos:")
    nombres=input("Ingrese nombres: ")
    idAlumno=input("Ingrese idAlumno: ")
    
    sentencia="delete from alumno where nombres='{0}' and idAlumno='{1}'".format(nombres,idAlumno)
    cursor.execute(sentencia)
    conexion.commit()
    print("Eliminado con éxito")
    
except Error as ex:
    print("Error durante la ejecución",ex)

Eliminación de datos:
Ingrese nombres: Juan
Ingrese idAlumno: 1
Eliminado con éxito

In [106]:
df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)

print(df)

             apellidos    nombres  edad
0                 sasa      qqwwq    20
1       Romero9 Espejo     Steven    20
2        Romero Espejo      Maria    20
3       Marcos Sanchez    Jusephe    20
4      Romero Martinez     Jordan    20
5        Espejo Espejo      Juana    20
6   Martinez Villareal     Robert    20
7       Lancaster Ruiz      Maria    20
8        Ruiz Gregorio  Magdalena    20
9      Sanchez Sanchez       Juan    20
10     Rivas Maldonado       Yola    20
11      Rivas Castillo     Blanca    20
12      Romero2 Espejo     Rosaly    20
13      Romero3 Espejo    Fiorela    20
14      Romero4 Espejo    Josafat    20
15      Romero5 Espejo       Jhon    20
16      Romero6 Espejo       Flor    20
17      Romero7 Espejo        Liz    20
18      Romero8 Espejo   Gabriela    20
19         Modificado3     Steven    20
20         Modificado2      Maria    20
21                 aas         as     5
22       Romero Espejo      Maria    20
23      Marcos Sanchez    Jusephe    20
24     Romero Martinez     Jordan    20
25       Espejo Espejo      Juana    20
26  Martinez Villareal     Robert    20
27      Lancaster Ruiz      Maria    20
28       Ruiz Gregorio  Magdalena    20
29     Sanchez Sanchez       Juan    20
30     Rivas Maldonado       Yola    20
31      Rivas Castillo     Blanca    20
32      Romero2 Espejo     Rosaly    20
33      Romero3 Espejo    Fiorela    20
34      Romero4 Espejo    Josafat    20
35      Romero5 Espejo       Jhon    20
36      Romero6 Espejo       Flor    20
37      Romero7 Espejo        Liz    20
38      Romero8 Espejo   Gabriela    20
39      Romero9 Espejo     Steven    20

C:\Users\Tismart\AppData\Local\Temp\ipykernel_17996\1783614779.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query("SELECT apellidos, nombres, edad FROM ALUMNO ",conexion)

In [142]:
cursor=conexion.cursor()
cursor.callproc('sp_obtener_alumnos_mayores')
for result in cursor.stored_results():
    print(result.fetchall())
    
print("Total de registros:" ,result.rowcount)

[(1, 'sasa', 'qqwwq', 20, 1.65, datetime.date(2023, 4, 26)), (2, 'Romero9 Espejo', 'Steven', 20, 1.65, datetime.date(2023, 4, 26)), (3, 'Romero Espejo', 'Maria', 20, 1.65, datetime.date(2023, 4, 26)), (4, 'Marcos Sanchez', 'Jusephe', 20, 1.65, datetime.date(2023, 4, 26)), (5, 'Romero Martinez', 'Jordan', 20, 1.65, datetime.date(2023, 4, 26)), (6, 'Espejo Espejo', 'Juana', 20, 1.65, datetime.date(2023, 4, 26)), (7, 'Martinez Villareal', 'Robert', 20, 1.65, datetime.date(2023, 4, 26)), (8, 'Lancaster Ruiz', 'Maria', 20, 1.65, datetime.date(2023, 4, 26)), (9, 'Ruiz Gregorio', 'Magdalena', 20, 1.65, datetime.date(2023, 4, 26)), (10, 'Sanchez Sanchez', 'Juan', 20, 1.65, datetime.date(2023, 4, 26)), (11, 'Rivas Maldonado', 'Yola', 20, 1.65, datetime.date(2023, 4, 26)), (12, 'Rivas Castillo', 'Blanca', 20, 1.65, datetime.date(2023, 4, 26)), (13, 'Romero2 Espejo', 'Rosaly', 20, 1.65, datetime.date(2023, 4, 26)), (14, 'Romero3 Espejo', 'Fiorela', 20, 1.65, datetime.date(2023, 4, 26)), (15, 'Romero4 Espejo', 'Josafat', 20, 1.65, datetime.date(2023, 4, 26)), (16, 'Romero5 Espejo', 'Jhon', 20, 1.65, datetime.date(2023, 4, 26)), (17, 'Romero6 Espejo', 'Flor', 20, 1.65, datetime.date(2023, 4, 26)), (18, 'Romero7 Espejo', 'Liz', 20, 1.65, datetime.date(2023, 4, 26)), (19, 'Romero8 Espejo', 'Gabriela', 20, 1.65, datetime.date(2023, 4, 26)), (20, 'Modificado3', 'Steven', 20, 1.96, datetime.date(2023, 4, 26)), (21, 'Modificado2', 'Maria', 20, 1.95, datetime.date(2023, 4, 26)), (25, 'Romero Espejo', 'Maria', 20, 1.65, datetime.date(2023, 4, 26)), (26, 'Marcos Sanchez', 'Jusephe', 20, 1.65, datetime.date(2023, 4, 26)), (27, 'Romero Martinez', 'Jordan', 20, 1.65, datetime.date(2023, 4, 26)), (28, 'Espejo Espejo', 'Juana', 20, 1.65, datetime.date(2023, 4, 26)), (29, 'Martinez Villareal', 'Robert', 20, 1.65, datetime.date(2023, 4, 26)), (30, 'Lancaster Ruiz', 'Maria', 20, 1.65, datetime.date(2023, 4, 26)), (31, 'Ruiz Gregorio', 'Magdalena', 20, 1.65, datetime.date(2023, 4, 26)), (32, 'Sanchez Sanchez', 'Juan', 20, 1.65, datetime.date(2023, 4, 26)), (33, 'Rivas Maldonado', 'Yola', 20, 1.65, datetime.date(2023, 4, 26)), (34, 'Rivas Castillo', 'Blanca', 20, 1.65, datetime.date(2023, 4, 26)), (35, 'Romero2 Espejo', 'Rosaly', 20, 1.65, datetime.date(2023, 4, 26)), (36, 'Romero3 Espejo', 'Fiorela', 20, 1.65, datetime.date(2023, 4, 26)), (37, 'Romero4 Espejo', 'Josafat', 20, 1.65, datetime.date(2023, 4, 26)), (38, 'Romero5 Espejo', 'Jhon', 20, 1.65, datetime.date(2023, 4, 26)), (39, 'Romero6 Espejo', 'Flor', 20, 1.65, datetime.date(2023, 4, 26)), (40, 'Romero7 Espejo', 'Liz', 20, 1.65, datetime.date(2023, 4, 26)), (41, 'Romero8 Espejo', 'Gabriela', 20, 1.65, datetime.date(2023, 4, 26)), (42, 'Romero9 Espejo', 'Steven', 20, 1.65, datetime.date(2023, 4, 26))]
Total de registros: 39

In [143]:
cursor=conexion.cursor()
cursor.callproc('sp_obtener_cursos')
for result in cursor.stored_results():
    print(result.fetchall())
    
print("Total de registros:" ,result.rowcount)

[(2, 'Ingles', datetime.date(2023, 4, 26), 1, 1), (6, 'Ingles', datetime.date(2023, 4, 26), 1, 1), (7, 'Ingles', datetime.date(2023, 4, 26), 2, 1), (8, 'Ingles', datetime.date(2023, 4, 26), 3, 1), (9, 'Ingles', datetime.date(2023, 4, 26), 4, 1), (10, 'Ingles', datetime.date(2023, 4, 26), 5, 1), (11, 'Ingles', datetime.date(2023, 4, 26), 6, 1), (12, 'Ingles', datetime.date(2023, 4, 26), 7, 1)]
Total de registros: 8

In [71]:
#Cerrar Conexion
if conexion.is_connected():
    conexion.close() #Se cerró la conexión a la BD
    print("La conexión ha finalizado")

La conexión ha finalizado