In [1]:
# Importando pandas
import pandas as pd

In [3]:
# Las series son matrices de una sola dimension similares a los vectores, pero con su propio indice.
# Creando una Serie
serie = pd.Series([2, 4, -8, 3])

In [4]:
# podemos ver tantos los índices como los valores de las Series.
print (serie.values)
print (serie.index)

[ 2  4 -8  3]
RangeIndex(start=0, stop=4, step=1)

In [5]:
# Creando Series con nuestros propios índices.
serie2 = pd.Series([2, 4, -8, 3], index=['d', 'b', 'a', 'c'])

In [6]:
print(serie2)

d    2
b    4
a   -8
c    3
dtype: int64

In [7]:
# Accediendo a los datos a través de los índices
print (serie2['a'])
print (serie2[['b', 'c', 'd']])
print (serie2[serie2 > 0])

-8
b    4
c    3
d    2
dtype: int64
d    2
b    4
c    3
dtype: int64

In [10]:
# El DataFrame es una estructura de datos tabular similar a las hojas de cálculo de Excel.
# Posee tanto indices de columnas como de filas.
# Creando un DataFrame.
data = {'Ciudades': ['Lima', 'Lima', 'Lima', 'Arequipa', 'Arequipa'],
        'años' : [2000, 2001, 2002, 2001, 2002],
        'poblaciones'  : [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data) # Creando un DataFrame desde un diccionario
frame

   Ciudades  años  poblaciones
0      Lima  2000          1.5
1      Lima  2001          1.7
2      Lima  2002          3.6
3  Arequipa  2001          2.4
4  Arequipa  2002          2.9